Add a new coach!

<form method='POST' action='/coaches/create'>
	<input type='text' name='coach_name' placeholder='coach name'>
	<input type='submit'>
</form>

<!-- In the form, 'name' is like the key to the value of the input form. So to get the input you pass in the key coach_name -->